ion-toolbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.logoTitle {
    padding-left: 4px;
    font-size: 20px;
    cursor: pointer;
}

.containerButton {
    margin-right: 8px;
}

.buttonRight {
    height: 44px;
    width: 44px;
}

.menuDots {
    font-size: 16px;
}

.userButton {
    font-size: 24px;
}