.card {
    cursor: pointer;
    background-size: cover;
    color: white;
}

.titleCard {
    color: white;
}

.buttonCardContainer {
    position: absolute;
    right: 0;
}

.buttonCard {
    font-size: 16px;
    color: white;
}

